:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --bg-color: #1e1e1e;
    --text-color: #f4f4f4;
    --button-color: #333;
    --button-hover-color: #444;
    --download-color: #666;
    --download-hover-color: #888;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--bg-color);
    text-align: center;
    padding: 50px;
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.link-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-list li {
    margin: 10px; /* Verminder de marge tussen de links */
}

.link-list a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--button-color);
    padding: 12px 20px; /* Iets kleinere padding voor compactheid */
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    display: inline-block;
}

.link-list a:hover {
    background-color: var(--button-hover-color);
    transform: scale(1.05);
}

.download-link {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: var(--download-color);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.3s;
}

.download-link:hover {
    background-color: var(--download-hover-color);
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .link-list {
        flex-direction: column;
    }

    .link-list li {
        margin: 8px 0; /* Verminder verticale marge op kleinere schermen */
    }

    .link-list a {
        padding: 10px 18px; /* Iets kleinere padding voor kleine schermen */
    }
}
